customer.xsd

<xs:schema version = "1.0" xmlns:xs ="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="customer">

  <xs:complexType>
    <xs:sequence>
      <xs:element name = "firstname" type ="xs:string"/>
      <xs:element name = "lastname" type ="xs:string"/>


      <xs:element name = "age" type ="xs:int"/>
      <xs:element name = "contact" type ="xs:int"/>
  </xs:complexType>

</xs:element>
</xs:schema>
